<footer class="app-footer">
  <div class="footer-content container">
    <p>
      <strong>Feel free to reach out at:</strong>
      <a
        href="https://www.linkedin.com/in/akanksha-kori-438689146/"
        target="_blank"
      >
        LinkedIn
      </a>
    </p>
    <p>
      <strong>Find More:</strong>
      <a href="https://github.com/akankshakori02" target="_blank"> GitHub </a>
    </p>
    <p>
      <strong>Resources & Reference:</strong>
      <a
        href="https://github.com/akankshakori02/ngx-maps-explorer"
        target="_blank"
      >
        Ngx-maps-explorer
      </a>
    </p>
    <p>Built with ❤️ using Angular, Google Maps, Leaflet.js & BootStrap</p>
  </div>
</footer>
